jupytext
sphinx>=4.2
sphinx_rtd_theme>=0.4
scanpydoc[typehints]>=0.7.5
docutils<0.18

nbsphinx>=0.6.0!=0.8.8
sphinxcontrib-bibtex>=1.0.0
pycairo
jupyter_client
ipykernel

setuptools_scm
importlib-metadata
pytoml
importlib.metadata
